<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IOV labs Games !</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/node_modules/bulma-extensions/dist/css/bulma-extensions.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
  <section id="app" class="section">
    <div class="container">
        <h1 class="title">
            RSK Basic Quiz App
        </h1>
        <p class="subtitle">
            Welcome to Cryptocurrencies Quiz Show!
        </p>
        <nav class="level">
            <div class="level-left"></div>
            <!-- Right side -->
            <div class="level-right has-text-centered">
              <div class="level-item">
                <div>
                  <p class="heading">Questions</p>
                  <p class="title">{{ counter }}/{{ questions.length }}</p>
                </div>
              </div>
            </div>
        </nav>
        <!-- /nav.level -->
        <div class="steps" id="stepsDemo">
            <div class="step-item is-active is-success">
                <div class="step-marker">1</div>
            </div>
            <div class="step-item">
                <div class="step-marker">2</div>
            </div>
            <div class="step-item">
                <div class="step-marker">3</div>
            </div>
            <div class="step-item">
                <div class="step-marker">4</div>
            </div>
            <div class="steps-content columns is-mobile">
                <div v-for="(question, index) in questions" class="step-content is-active column is-6 is-offset-3">
                    <h2 class="title has-text-centered question">{{ question.question }}</h2>
                    <div v-for="(value, key, i) in question.options"  class="tile is-ancestor">
                        <div class="tile is-12">
                            <div class="tile box option-box answer" v-on:click.self="selectOption" :data-index="index" :data-key="key" :data-value="value" :data-i='i'>
                                <p class="subtitle">{{ key }})</p>
                                <p>{{ value }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="steps-actions">
                <div class="steps-action">
                  <a href="#" data-nav="previous" class="button is-light">Previous</a>
                </div>
                <div class="steps-action">
                  <a href="#" data-nav="next" class="button is-light">Next</a>
                </div>
              </div>
              <!-- /div.steps-actions -->
        </div>
        <div class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="has-text-centered">
              <h2 class="title">You have {{ hits }} right answers :)</h2>
              <button v-on:click="closeModal" class="button is-success">Ok</button>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" v-on:click="closeModal"></button>
        </div>
    </div>
  </section>
  <script src="js/truffle-contract.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="js/app.js"></script>
  <script>
    bulmaSteps.attach()
  </script>
  </body>
</html>